# ==========================
# API
# ==========================
API_URL=
API_PER_PAGE=
API_TIMEOUT=
API_SLEEP_SECONDS=

# ==========================
# POSTGRES
# ==========================
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=
DQ_INVALID_THRESHOLD=

# Postgres Airflow
AIRFLOW_DB_USER=
AIRFLOW_DB_PASSWORD=
AIRFLOW_DB_NAME=

# Postgres Datalake
DATALAKE_DB_USER=
DATALAKE_DB_PASSWORD=
DATALAKE_DB_NAME=

# Airflow Admin
AIRFLOW_ADMIN_USER=
AIRFLOW_ADMIN_PASSWORD=
AIRFLOW_ADMIN_EMAIL=
FERNET_KEY=

# pgAdmin
PGADMIN_EMAIL=
PGADMIN_PASSWORD=